<form [formGroup]="form" (ngSubmit)="sub()">
    <mat-form-field appearance="fill">
      <mat-label>CIN</mat-label>
      <input matInput placeholder="CIN" formControlName="cin">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="First Name" formControlName="firstName">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Last Name" formControlName="lastName">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <input matInput placeholder="Type" formControlName="type">
    </mat-form-field>
  
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
  